@model RummageSale.Models.Sale

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Sale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zipcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zipcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RescheduleStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RescheduleStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RescheduleEndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RescheduleEndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceRange)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceRange)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Electronics)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Electronics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Furniture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Furniture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Toys)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Toys)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clothings)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clothings)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
